apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    app: fraud-detection-service
    kompose.cmd: kompose convert -f ../docker-compose.prod.yml
    kompose.image-pull-policy: Always
    kompose.service.type: nodeport
    kompose.version: 1.35.0 (HEAD)
  labels:
    io.kompose.service: fraud-detection-service
  name: fraud-detection-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fraud-detection-service
  template:
    metadata:
      annotations:
        app: fraud-detection-service
        kompose.cmd: kompose convert -f ../docker-compose.prod.yml
        kompose.image-pull-policy: Always
        kompose.service.type: nodeport
        kompose.version: 1.35.0 (HEAD)
      labels:
        app: fraud-detection-service
    spec:
      containers:
        - args:
            - uvicorn
            - main:app
            - --host
            - 0.0.0.0
            - --port
            - "8000"
          env:
            - name: RABBITMQ_HOST
              value: rabbitmq
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: banking-app-secret
                  key: RABBITMQ_DEFAULT_USER
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: banking-app-secret
                  key: RABBITMQ_DEFAULT_PASS
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
            - name: PROMETHEUS_PORT
              valueFrom:
                configMapKeyRef:
                  name: banking-app-config
                  key: PROMETHEUS_PORT
          image: fhallengreen/dls_banking_app-fraud-detection-service:latest
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          name: fraud-detection-service
          ports:
            - containerPort: 8000
              protocol: TCP
            - containerPort: 8001
              protocol: TCP
          resources:
            limits:
              memory: "268435456"
      restartPolicy: Always