apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    app: transaction-service
    kompose.cmd: kompose convert -f ../docker-compose.prod.yml
    kompose.image-pull-policy: Always
    kompose.service.type: nodeport
    kompose.version: 1.35.0 (HEAD)
  labels:
    io.kompose.service: transaction-service
  name: transaction-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: transaction-service
  template:
    metadata:
      annotations:
        app: transaction-service
        kompose.cmd: kompose convert -f ../docker-compose.prod.yml
        kompose.image-pull-policy: Always
        kompose.service.type: nodeport
        kompose.version: 1.35.0 (HEAD)
      labels:
        app: transaction-service
    spec:
      containers:
        - env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Production
            - name: Logging__LogLevel__Default
              value: Debug
            - name: MYSQL_HOST
              value: mysql-transaction
            - name: MYSQL_PORT
              value: "3306"
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: banking-app-config
                  key: MYSQL_DATABASE_TA
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: banking-app-secret
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: banking-app-secret
                  key: MYSQL_PASSWORD_TA
            - name: RABBITMQ_HOST
              value: rabbitmq
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: banking-app-secret
                  key: RABBITMQ_DEFAULT_USER
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: banking-app-secret
                  key: RABBITMQ_DEFAULT_PASS
            - name: JWT_ISSUER
              valueFrom:
                configMapKeyRef:
                  name: banking-app-config
                  key: JWT_ISSUER
            - name: JWT_AUDIENCE
              valueFrom:
                configMapKeyRef:
                  name: banking-app-config
                  key: JWT_AUDIENCE
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: banking-app-secret
                  key: JWT_KEY
            - name: PROMETHEUS_PORT
              valueFrom:
                configMapKeyRef:
                  name: banking-app-config
                  key: PROMETHEUS_PORT
            - name: TRANSACTION_SERVICE_TOKEN
              valueFrom:
                secretKeyRef:
                  name: banking-app-secret
                  key: TRANSACTION_SERVICE_TOKEN
            - name: Services__UserAccountService
              value: http://user-account-service:8002
            - name: Services__FraudDetectionService
              value: http://fraud-detection-service:8000
          volumeMounts:
            - name: data-protection-keys
              mountPath: /root/.aspnet/DataProtection-Keys
          image: fhallengreen/dls_banking_app-transaction-service:latest
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /api/health
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          name: transaction-service
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 9092
              protocol: TCP
          resources:
            limits:
              memory: "1073741824"
      restartPolicy: Always
      volumes:
        - name: data-protection-keys
          persistentVolumeClaim:
            claimName: data-protection-keys-pvc